<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
    google.charts.load('current', {
        packages: ['corechart', 'line']
    });
    google.charts.setOnLoadCallback(drawCurveTypes);

    function drawCurveTypes() {
        var data = new google.visualization.DataTable();
        data.addColumn('number', 'X');

        {% for filename in file_names %}
          data.addColumn('number', "{{ filename }}");
        {% endfor %}
        // data.addColumn('number', 'set2');

        data.addRows([
          {% for row in chart_input %}
          [
            {% for col in row %}
            {{col}},
            // [{{row[0]}},{{row[1]}},{{row[2]}}],
          {% endfor %}
        ],
          {% endfor %}
        ]);

        var options = {
            hAxis: {
                title: 'x'
            },
            vAxis: {
                title: 'y'
            },
            series: {
                1: {
                    curveType: 'function'
                }
            },
            legend: 'bottom',
            explorer: {
              actions: ['dragToZoom', 'rightClickToReset']
            }
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
</script>
<style>

</style>
<a href="/">Back</a>
<p>
  Left click to zoom, right click to reset
</p>
<div id="chart_div" style="width: 100%; height: 70%;"></div>
